.page_title {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin-bottom: 2rem !important;
  flex: 1 1 550px;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.card > div {
  min-height: 150px;
}

.card_list {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.red_button {
  background-color: #d50000 !important;
}

.li_left_padding {
  padding-left: 0.25rem !important;
}

.form {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.field {
  margin-bottom: 2rem;
}

.upper {
  z-index: 20000 !important;
}

.little_right_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.little_right_button {
  margin-left: 1.5rem;
  margin-right: -0.5rem;
}
